[submodule "infra"]
path = infra
url = https://github.com/luizcarlosfaria/eshop-cloudnative-infra.git
[submodule "catalog"]
path = catalog
url = https://github.com/luizcarlosfaria/eshop-cloudnative-catalog.git
