[submodule "infra"]
path = infra
url = https://github.com/luizcarlosfaria/eshop-cloudnative-infra.git
[submodule "catalog"]
path = catalog
url = https://github.com/luizcarlosfaria/eshop-cloudnative-catalog.git
[submodule "profile"]
	path = profile
	url = https://github.com/luizcarlosfaria/eshop-cloudnative-profile.git
[submodule "architecture"]
	path = architecture
	url = https://github.com/luizcarlosfaria/eshop-cloudnative-architecture.git
